.info-text {
    word-wrap: break-word;
    max-width: 20rem;
    justify-self: center;
    align-self: center;
    h1 {
        color: #555;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

.info-img {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    img:last-child {
        grid-column: 1/3;
        justify-self: end;
    }
    justify-self: start;
    align-self: center;
}

@media (max-width: 870px) {
    .info-img {
        display: none;
    }
    .info-text {
        text-align: center;
        word-wrap: break-word;
        padding: 1rem;
    }
}